@use "../tools" as t;

h2 {
  font-size: clamp(
    t.rem(40),
    2.323943661971831rem + 0.7511737089201878vw,
    t.rem(48)
  );
  font-weight: 600;
  letter-spacing: -0.04em;
  color: #000;
}

h3 {
  font-size: clamp(
    t.rem(14),
    0.8309859154929577rem + 0.18779342723004694vw,
    t.rem(16)
  );
  font-weight: 700;
  line-height: 1.57;
  letter-spacing: 0.42em;
  text-transform: uppercase;
  color: #000;
}

p {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.37;
  letter-spacing: -0.02em;
  color: #a0a0a0;
}
