@use "../tools" as t;

.l-header {
  display: grid;
  grid-template-areas: "h";
  align-items: start;

  &__head {
    grid-area: h;
    z-index: 2;
    padding: 48px 24px 0;
    color: #fff;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  &__menu {
    color: inherit;
    background-color: transparent;
    block-size: 14px;
    inline-size: 20px;

    @include t.breakpoint(s) {
      display: none;
    }
  }

  &__nav {
    display: none;

    @include t.breakpoint(s) {
      display: block;
    }
  }

  &__logo {
    justify-self: center;
    color: inherit;
    block-size: 14px;
    inline-size: 62px;
  }

  &__menu svg,
  &__logo svg {
    fill: currentColor;
  }

  &__gallery {
    grid-area: h;
  }

  @include t.breakpoint(s) {
    &__head {
      grid-template-columns: repeat(6, minmax(0, 1fr));
    }

    &__logo {
      justify-self: start;
    }

    &__menu {
      display: none;
    }

    &__nav {
      display: block;
    }
  }
}
